$default-color_type-1: #055FB8;
$default-color_type-2: #063B70;

$white: #FFFFFF;
$black: #000000;

$color-gray_type-1: #F0F0F0;
$color-gray_type-2: #A9A9A9;
$color-gray_type-3: #4D4D4D;
$color-gray_type-4: #1A1A1A;

$color-red-type-1: #FF5E52;

$color-green-type-1: #18bd5b;
$color-green-type-2: #16AA52;

$color-success: #27AC05;
$color-warning: #FFA500;
$color-error: #F43628;

$text-color_black: #1A1A1A;
$text-color_white: #DBDBDB;

$background-default-color: #F3F3Fe;

$box-shadow: 1px 1px 1px 0px #00000050;
