$default-color_type-1: #055FB8;
$default-color_type-2: #063B70;

$white: #FFFFFF;
$black: #000000;

$color-gray_type-1: #F0F0F0;
$color-gray_type-2: #A9A9A9;
$color-gray_type-3: #4D4D4D;
$color-gray_type-4: #1A1A1A;

$color-red-type-1: #FF5E52;

$color-green-type-1: #18bd5b;
$color-green-type-2: #16AA52;

$color-success: #27AC05;
$color-warning: #FFA500;
$color-error: #F43628;

$text-color_black: #1A1A1A;
$text-color_white: #DBDBDB;

$background-default-color: #F3F3Fe;

$box-shadow: 2px 2px 2px 1px #00000050;
$text-shadow: 1px 1px 2px #000000;



$color-blue-type-3: #0E77AB;

$color-light-blue: #0E77AB;
$color-normal-blue: #055FB8;
$color-dark-blue: #173773;

$color-angular-primary: #3F51B5;

$color-light-gray: #C0C0C0;
$color-normal-gray: #9E9E9E;
$color-dark-gray: #1A1A1A;

$color-normal-red: #F43628;

$color-normal-green: #27AC05;

$color-normal-yellow: #FFA500;

$color-black-russian: #141A26;
$color-very-dark-blue: #161E29;
$color-dark-blue-cyan: #1E2633;
$color-blue-mako: #061E36;

